flask==0.12.4
jsonschema==2.5.1
sqlalchemy==1.0.8
sqlalchemy-utils>=0.32.21
psycopg2>=2.7
future>=0.16.0,<1.0.0
git+https://github.com/NCI-GDC/indexclient.git@1.5.8#egg=indexclient
git+https://github.com/uc-cdis/cdislogging.git@0.0.2#egg=cdislogging
git+https://github.com/uc-cdis/doiclient.git@1.0.0#egg=doiclient
git+https://github.com/uc-cdis/dosclient.git@1.0.0#egg=dosclient
