flask==1.1.1
jsonschema==2.5.1
sqlalchemy==1.3.19
sqlalchemy-utils>=0.33.11,<=0.36.6
psycopg2>=2.7
git+https://github.com/uc-cdis/cdislogging.git@0.0.2#egg=cdislogging
git+https://github.com/uc-cdis/indexclient.git@1.6.0#egg=indexclient
git+https://github.com/uc-cdis/doiclient.git@1.0.0#egg=doiclient
git+https://github.com/uc-cdis/dosclient.git@1.1.0#egg=dosclient
git+https://github.com/uc-cdis/hsclient.git@1.0.0#egg=hsclient
authutils==4.0.0
gen3authz==0.4.0
